body {
  text-align: center;
  margin-top: 140px;
  font-size: 30px;
  color: white;
  background-image: url(../Images/triangles.JPEG);
}
.tracker h6 {
  color: #180005;
  padding: 30px;
  border: 4px
}
.button {
  padding: 15px 30px;
  text-align: center;
  font-style: italic;
}

style {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tracker {
  text-align: center;
  text-decoration: underline;
}
